# =========================
# ORACLE (SID) — Producción
# =========================
ORACLE_HOST = "34.134.141.229"
ORACLE_PORT = "1522"
ORACLE_SID  = "DESA2"
ORACLE_USER = "HUB_USER"
# Coloca tu password real aquí
ORACLE_PWD  = "gunoc35WRlhOx2X"

# =========================
# PostgreSQL — core_issuer
# =========================
PG_HOST = "34.134.141.229"
PG_PORT = "6543"
PG_DB   = "columbus_databroker_prod"
PG_USER = "columbus_databroker_user"
# Coloca tu password real aquí
PG_PWD  = "AMKu7WdYXzNq6j3vVD4evQ5IA8gdKkGF0O6Ofy935KWdBLDcbPlY8QG7NJJePMIB"

# =========================
# Parámetros por defecto
# =========================
DEFAULT_ALIAS = "UNIB"
INFLACION_ANUAL = "0.035"  # como string, se castea a float en el app
